:root {
    --primary-color: #2196F3;
    --secondary-color: #FFC107;
    --background-color: #f5f5f5;
    --text-color: #333;
    --border-color: #ddd;
    --error-color: #f44336;
    --success-color: #0051ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container {
    background: var(--background-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #d8d8d8;
    color: #333;
    line-height: 1.6;
}

.nav-public, .nav-private {
    background-color: #2c3e50; 
    padding: 1rem;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-public ul, .nav-private ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-public a, .nav-private a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.nav-public .nav-container {
    justify-content: center;
}

.logout-btn {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #c0392b;
}


.nav-public a:hover,
.nav-public a.active,
.nav-private a:hover,
.nav-private a.active {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-private .dropdown {
    position: relative;
}

.nav-private .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    min-width: 200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1;
    top: 100%;
    left: 0;
}

.nav-private .dropdown:hover .dropdown-content {
    display: block;
}

.nav-private .dropdown-content a {
    color: var(--text-color);
    padding: 0.75rem 1rem;
    display: block;
}

.nav-private .dropdown-content a:hover {
    background-color: var(--border-color);
    color: var(--primary-color);
}

table {
  width: 100%;
  table-layout: fixed;   
  border-collapse: collapse;
}

th, td {
  white-space: normal;         
  overflow-wrap: break-word;  
  word-break: break-word;        
}


.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 4px;
    display: block;
}